<main>
    <h1>Carrito</h1>

    <div class="lista-container cart-container">
        <ul class="lista-detalles ">
            <li></li>
            <li>Producto</li>
            <li>Precio</li>
            <li>Cantidad</li>
            <li>Acciones</li>
        </ul>
    </div>



    <div class="products-cart">
        {{!-- {{#each products}} --}}
        {{!-- {{/each}} --}}
    </div>


</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/carts.js"></script>
<script src="/static/assets/js/home.js"></script>